button {
	margin: 10px;
}
.buttonArea {
	background-color: lightgray;
	padding-bottom: 10px;
	border-bottom: 5px solid black;
}
#addToArray {
	margin-top: 75px;
	margin-bottom: 25px;

}
h2{
	text-align: center;
}
.addArea {
	
	height:1300px;

}
.lookBetter {
	text-align: center;
}
.grabMe {
	overflow: none;
}